.Dish img {
  max-width: 200px;
  height: auto;
  border-radius: 1em;
}

@media screen and (max-width: 770px) {
  .Dish img {
    max-width: 100px;
  }
}

@media screen and (max-width: 450px) {
  .Dish .buttons {
    margin: 0 auto;
  }
}